@page "/habits/{HabitId:guid}"

@using HabitTrack_UI.Components.Dashboard
@using HabitTrack_UI.Models
@using HabitTrack_UI.Services.AppErrorService
@using HabitTrack_UI.Services.Habits
@using HabitTrack_UI.Components.Habits
@using HabitTracker.Application.DTOs

@inject HabitsService HabitService
@inject HabitStatsService HabitStatsService
@inject NavigationManager Nav

<div class="container my-4">
    <header class="mb-4">
        <p class="text-muted mb-1">Habit Details</p>
        <h2 class="fw-bold @GetPausedClass()">
            @Habit?.Title
        </h2>
        @if (Habit?.IsPaused == true)
        {
            <div class="alert alert-warning">
                This habit is paused. Resume it to continue tracking.
            </div>
        }
        @if (ErrorChangingStatus is not null)
        {
            <div class="alert alert-danger py-2">
                @ErrorChangingStatus
            </div>
        }
    </header>

    <EditHabitModal Model="UpdateModel"
                    OnSaved="@HandleSaved"
                    OnClose="@CloseEdit"
                    IsSaving="@IsSaving"
                    ErrorMessage="@EditHabitErrorMessage"
                    IsVisible="@IsEditing" />

    <!-- Habit summary stats-->
    <section>
        <div class="row g-3 mb-4">
            <div class="col-12 col-md-6 @GetPausedClass()">
                <StatCard Title="Completed"
                    Value="@($"{StatsModel?.TotalCompletion}")"
                        Subtitle="Times"/>
            </div>

            <div class="col-6 col-md-3 @GetPausedClass()">
                <StatCard Title="Current Streak"
                    Value="@($"{StatsModel?.CurrentStreak} days")"
                        Subtitle=""/>
            </div>

            <div class="col-6 col-md-3 @GetPausedClass()">
                @if (Habit?.IsPaused == true)
                {
                    <StatCard Title="Completion rate"
                        Value="Habit paused"
                        Subtitle="resume to continue tracking" />
                }
                else
                {
                    <StatCard Title="Completion rate"
                        Value="@($"{StatsModel?.CompletitionRate}%")"
                        Subtitle="in the last 7 days" />
                }
             
            </div>
        </div>
    </section>

    <!-- Habit details-->
    <section>
        <dl class="row mb-4 @GetPausedClass()">
            <dt class="col-sm-4 text-muted">Description</dt>
            <dd class="col-sm-8">@Habit?.Description</dd>

            <dt class="col-sm-4 text-muted">Priority</dt>
            <dd class="col-sm-8">@Habit?.Priority</dd>

            <dt class="col-sm-4 text-muted">Repeat</dt>
            <dd class="col-sm-8">
                @(Habit?.RepeatPeriod)
            </dd>

            <dt class="col-sm-4 text-muted">Created</dt>
            <dd class="col-sm-8">
                @(Habit?.CreatedAt.ToShortDateString())
            </dd>

            <dt class="col text-muted">Status</dt>
            <dd class="col-sm-8">
                @(Habit?.IsPaused == true ? "Paused" : "Active")
            </dd>
        </dl>
        <div class="d-flex justify-content-center gap-3 w-100 mt-3">
            <button class="btn btn-sm btn-outline-warning bg-warning text-white p-1" disabled="@IsChangingStatus"
                    @onclick="OnChangeStatus">
                @(Habit?.IsPaused == true ? "Resume" : "Pause")
            </button>
            <button class="btn btn-sm btn-outline-primary bg-primary text-white @(Habit?.IsPaused == true ? "paused-button" : "")"
                    @onclick="OpenEdit" disabled="@(Habit?.IsPaused == true)">
                Edit
            </button>

            <button class="btn btn-sm btn-outline-danger bg-danger text-white p-1@(Habit?.IsPaused == true ? "paused-button" : "")"
                    @onclick="OnDelete" disabled="@(Habit?.IsPaused == true)">
                Delete
            </button>
        </div>
    </section>

    <!-- Habit stats-->
    <section class="mt-4">
        <div class="row g-4">

            <!-- LEFT: Stats -->
            <div class="col-12 col-lg-4">
                <div class="card shadow-sm @GetPausedClass()">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Longest Streak</span>
                                <span class="fw-bold">@StatsModel?.LongestStreak days</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tracked Days</span>
                                <span class="fw-bold">@StatsModel?.TotalTrackedDays</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Days Since Last Completion</span>
                                <span class="fw-bold">
                                    @(StatsModel?.DaysSinceLastCompletion == -1 ? "no data" : StatsModel?.DaysSinceLastCompletion)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- RIGHT: Graph / Calendar -->
            <div class="col-12 col-lg-8">
                <div class="card shadow-sm h-100">
                    <div class="card-body @GetPausedClass()">
                        <h6 class="text-muted mb-3">Activity</h6>
                        
                        @if (DailyActivityErrror is not null)
                        {
                            <p class="alert-danger">@DailyActivityErrror</p>
                        }

                        @if (StartDate != default && EndDate != default)
                        {
                            <ActivityHeatmap Data="DailyActivity"
                                    StartDate="StartDate"
                                    EndDate="EndDate" />

                            <div class="mt-2">
                                <small class="text-muted mb-0">Each square represents a day. Darker means more activity.</small>
                            </div>
                            <div class="d-flex">
                                <div class="heatmap-cell level-0"></div>
                                <div class="heatmap-cell level-1"></div>
                                <div class="heatmap-cell level-2"></div>
                                <div class="heatmap-cell level-3"></div>
                            </div>
                        }


                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

@code {
    [Parameter]
    public Guid HabitId { get; set; }

    private HabitModel? Habit;
    private HabitStatsModel? StatsModel;
    private HabitFormModel UpdateModel = new HabitFormModel();
    private List<DailyActivityDTO> DailyActivity = new();

    private DateOnly StartDate;
    private DateOnly EndDate;
    private string? DailyActivityErrror = null;

    private bool IsLoading = true;
    private string? EditHabitErrorMessage = null;
    private string? ErrorMessage = null;

    private bool IsEditing = false;
    private bool IsSaving = false;

    private bool IsChangingStatus = false;
    private string? ErrorChangingStatus;

    protected override async Task OnInitializedAsync()
    {
        await LoadHabitAsync();
        await LoadStatsAsync();
        await LoadDailyActivity();
    }

    private async Task OnDelete()
    {
        await HabitService.Remove(HabitId);

        Nav.NavigateTo("/");
    }

    private async Task OnChangeStatus()
    {
        IsChangingStatus = true;
        ErrorChangingStatus = null;

        try
        {
            await HabitService.ChangeHabitStatusAsync(HabitId);
            await ReloadHabit();
        }
        catch(AppException ex)
        {
            ErrorChangingStatus = ex.Error.Message;
        }
        finally
        {
            IsChangingStatus = false;
        }
    }

    private async Task HandleSaved(HabitFormModel model)
    {
        IsSaving = true;
        EditHabitErrorMessage = null;

        try
        {
            var dto = new UpdateHabitDTO
            {
                Title = model.Title,
                Description = model.Description,
                CategoryId = model.CategoryId,
                Priority = model.Priority,
                RepeatInterval = model.RepeatInterval
            };

            await HabitService.Update(model.Id, dto);
            Console.WriteLine(string.Join(",", DailyActivity.Select(d => $"{d.Date}:{d.CompletionsCount}")));
            await ReloadHabit();
        }
        catch (AppException ex)
        {
            EditHabitErrorMessage = ex.Error.Message;
        }
        finally
        {
            IsSaving = false;
            IsEditing = false;
            EditHabitErrorMessage = null;
        }
    }

    private async Task LoadDailyActivity()
    {
        try
        {
            var today = DateOnly.FromDateTime(DateTime.Today);

            StartDate = today.AddDays(-179);
            EndDate = today;

            DailyActivity = await HabitStatsService
                .GetHabitActivityAsync(HabitId, StartDate, EndDate);
        }
        catch
        {
            DailyActivityErrror = "Something went wrong loading daily activity";
        }
    }

    private async Task ReloadHabit()
    {
        await LoadHabitAsync();
        await LoadStatsAsync();
        await LoadDailyActivity();
        StateHasChanged();
    }

    private async Task LoadHabitAsync()
    {
        IsLoading = true;
        EditHabitErrorMessage = null;

        try
        {
            var dto = await HabitService.GetHabitById(HabitId);

            Habit = new HabitModel
            {
                Title = dto!.Title,
                Description = dto.Description,
                CategoryId = dto.CategoryId,
                Priority = dto.Priority,
                RepeatCount = dto.RepeatCount,
                RepeatPeriod = dto.RepeatPeriod,
                LastTimeDoneAt = dto.LastTimeDoneAt,
                CreatedAt = dto.CreatedAt,
                IsPaused = dto.IsPaused,
            };
        }
        catch (AppException ex)
        {
            EditHabitErrorMessage = ex.Error.Message;
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task LoadStatsAsync()
    {
        try
        {
            var dto = await HabitStatsService.GetHabtitStatsAsync(HabitId);

            StatsModel = new HabitStatsModel
            {
                TotalCompletion = dto.TotalCompletion,
                CurrentStreak = dto.CurrentStreak,
                LongestStreak = dto.LongestStreak,
                CompletitionRate = dto.CompletionRate,
                TotalTrackedDays = dto.TotalTrackedDays,
                DaysSinceLastCompletion = dto.DaysSinceLastCompletion,
            };
        }
        catch (AppException ex)
        {
            ErrorMessage = ex.Error.Message;
        }
    }

    private void OpenEdit()
    {
        ErrorMessage = null;

        UpdateModel = new HabitFormModel
        {
            Id = HabitId,
            Title = Habit!.Title,
            Description = Habit.Description,
            CategoryId = Habit.CategoryId,
            Priority = Habit.Priority,
            RepeatPeriod = Habit.RepeatPeriod,
        };

        IsEditing = true;
    }

    private void CloseEdit()
    {
        IsEditing = false;
        ErrorMessage = null;
    }

    private string GetPausedClass()
    {
        return Habit?.IsPaused switch
        {
            true => "paused",
            _ => ""
        };
    }
}
